.adminTemplate {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 16px 24px;
}

.adminToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  flex-wrap: wrap;
  gap: 8px;
}
