.tabContainer {
  margin-bottom: 20px; /* Add spacing between each tab */
}

.tabTitle {
  font-weight: 500;
  font-size: 1rem;
  color: #333;
  font-family: 'Roboto', Arial, sans-serif; /* Customize the font family */
  letter-spacing: 0.5px; /* Add letter spacing for a cleaner look */
  line-height: 1.5; /* Set line height for better readability */
  margin-bottom: 10px;
}

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
}
